<div class="panel panel-default post">
  <div class="panel-heading">
    <h3 class="panel-title">Post</h3>
  </div>
  <div class="panel-body">
    Post Body
  </div>
  <div class="panel-footer post__footer">18. Oktober 2016</div>
</div>
