<div class="row">
  <div class="col-md-8">
    <h1>Artikel</h1>
    <% @posts.each do |post| %>
      <div>
        <%= post.published_at.strftime('%e %B, %Y') %> <%= link_to(post.title, post_path(post)) %>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <h3>Letzte Kommentare</h3>
    <% @comments.each do |comment| %>
        <div class="panel panel-default mini-comment">
          <div class="panel-body">
            <%= simple_format(comment.body) %>
          </div>
        </div>
    <% end %>
  </div>
</div>